.calc {
  padding: 24px clamp(2.5rem, -20rem + 23.438vw, 8.125rem);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 28px;
  align-self: center;
  max-width: 100%;


  &__title {
    @include xl3;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    text-align: center;
    max-width: 358px;
  }

  &__descriptions {
    @include base;
    font-weight: 400;
    text-align: center;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 24px;
    width: 100%;
  }

  @include laptop-large {
    padding: 24px 180px;
  }

  @include laptop {
    padding: 24px 50px;
  }

  @media (max-width:480px) {
    padding: 24px 5px;
  }
}