.input {
  padding: 12px;
  color: var(--color-dark);
  border-radius: var(--border-radius-small);
  outline: 2px solid var(--color-dark);
  width: 100%;

  &::placeholder {
    color: var(--color-gray-text);
  }
}