.mobile-overlay {

  width: 100%;
  padding: 24px 0;
  margin: 0;
  border: none;
  &:modal{
    max-width: 100%;
    border-radius: 0 0 24px 24px;
    background-color: var(--color-white);
  }
  &::backdrop {
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.25);
  }
  padding: 24px 0;
  background-color: var(--color-white);
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info-mobile{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    @include sm;
  }
  &__contacts {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  &__number {
    position: relative;
  }
  &__number-tel {
    @include xl;
    font-weight: 900;

  }

  &__number-text {
    @include xl2;
    font-weight: 300;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-top: 2px solid var(--color-accent-light);
    border-bottom: 2px solid var(--color-accent-light);

  }

  &__menu-list {
    display: flex;
    column-gap: 24px;
  }

  &__menu-item {
    font-weight: 700;
  }

  &__menu-link {
    @include hover {
      color: var(--color-accent);
    }
  }
  .logo__image{
    width: 243px;
    height: 74px;
  }
}