:root {
  --color-dark: #111827;
  --color-accent: #8B5CF6;
  --color-accent-alt: #EDE9FE;
  --color-white: #F9FAFB;
  --color-gray-text: #9CA3AF;
  --color-bg-main: #E5E7EB;
  --color-accent-light: #A78BFA;
  --border: 2px solid var(--color-dark);
  --border-radius-small: 4px;
  --border-radius-medium: 12px;
  --border-radius-big: 16px;

  --font-family-base: "Formular", sans-serif;

  --container-width-desktop: clamp(64.125rem, -63.375rem + 132.813vw, 96rem);
  --container-width-laptop-large: clamp(48rem, 15.75rem + 50.391vw, 64.125rem);
  --container-width-laptop: clamp(40rem, 17.203rem + 48.12vw, 48rem);
  --container-width-laptop-small: 640px;
  --container-width-smartphone: 300px;

  --container-padding-x: 59px;
  --container-padding-x-less-laptop: clamp(0.938rem, -2.135rem + 12.291vw, 3.688rem);

  --section-padding-y: 36px;
  --section-padding-y-laptop: 24px;
  --section-padding-y-laptop-small: 20px;

  --input-height: 48px;
  --button-height: 44px;
}